<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head>
  	{{{ meta.inject().title.text() }}}
  	{{{ meta.inject().meta.text() }}}
  	{{{ meta.inject().link.text() }}}
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.13/vuetify.min.css">
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
